/* Accordion.css */

.accordion {
   margin-top: 20px;
}

.accordion_item {
   margin-bottom: 10px;
}

.accordion_header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
   cursor: pointer;
   border-radius: 5px;
   transition: background-color 0.3s ease;
   color: var(--txt-black);
   background: var(--white);
}

.accordion_header:hover {
   color: var(--txt-white);
   background: var(--btn-hover);
}

.accordion_header:hover .accordion_icon {
   color: var(--txt-white);
}

.accordion_description {
   margin-top: 5px;
}

.accordion_icon {
   color: var(--txt-black);
}

.accordion_icon.active {
   color: var(--txt-white);
}

.accordion_header.active {
   color: var(--txt-white);
   background: var(--btn-hover);
}

.accordion_body {
   padding: 5px;
}

.accordion_sub_item {
   margin-top: 5px;
}

.accordion_sub_header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 8px;
   color: var(--txt-black);
   background-color: var(--white);
   cursor: pointer;
   border-radius: 5px;
   transition: background-color 0.3s ease;
}

.accordion_sub_header:hover {
   color: var(--txt-white);
   background: var(--btn-hover);
}

.accordion_sub_header:hover .accordion_icon {
   color: var(--txt-white);
}

.accordion_sub_header.active {
   color: var(--txt-white);
   background: var(--btn-hover);
}


.accordion_sub_body {
   padding: 5px;
}

.accordion_sub_body ul {
   list-style-type: none;
   padding: 10px;
   border-radius: 5px;
   background: var(--white);
}

.accordion_sub_body ul li {
   margin: 5px 0;
}

.accordion_sub_body ul li a {
   text-decoration: none;
   color: var(--txt-black);
   transition: color 0.3s ease;
}

.accordion_sub_body ul li a:hover {
   color: var(--orange);
}