.header_wrapper {
   padding-top: 10px;
}

.header_list {
   display: flex;
   justify-content: end;
   align-items: center;
   gap: 70px;
   padding: 10px 0;
   border-top: 1px solid #fff;
}

.header_btn {
   padding: 12px 25px;
   display: flex;
   align-items: center;
   gap: 18px;
   border-top-left-radius: 25px;
   border-bottom-left-radius: 25px;
}

.header_btn_icon {
   font-size: 24px;
   color: var(--txt-black);
}