.cardWrapper {
   display: flex;
   gap: 20px;
   margin: 0 auto;
   padding: 20px;
   max-width: 1000px;
   border-radius: 12px;
   background: var(--white);
}

.container {
   display: flex;
   justify-content: center;
}

.cardWrapper {
   display: flex;
   gap: 20px;
   padding: 20px;
   max-width: 800px;
   border-radius: 12px;
   background: var(--white);
}

.content {
   display: flex;
   justify-content: space-around;
   align-items: stretch;
   /* Автоматически выравнивает по высоте */
   width: 100%;
   height: 100%;
}

.user_content,
.combinedCard {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 20px;
   width: 100%;
   max-width: 350px;
   height: 100%;
   color: var(--txt-black);
   background: var(--white);
   /* Растягивается до высоты родительского контейнера */
}