.pass_list {
   display: flex;
   gap: 30px;
}

.pass_btn {
   padding: 10px;
   width: 100%;
   font-size: 16px;
   border: none;
   border-radius: 8px;
   color: var(--txt-white);
}

.pass_btn:hover {
   background: var(--btn-hover);
}