.card_container {
   flex: 1;
   max-width: 250px;
   height: 100%;
   box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
   border-radius: 12px;
   border: 1px solid var(--grey);
}

.card_img {
   display: block;
   width: 100%;
   height: 246px;
   border-top-left-radius: 12px;
   border-top-right-radius: 12px;
   border-bottom: 1px solid var(--grey);
   background: var(--white);
}

.card_descr {
   padding: 20px;
}

.card_descr p {
   margin-top: 10px;
   text-align: center;
   font-weight: 500;
   font-size: 18px;
}