.modal_content {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 1000;
   color: var(--txt-black);
   background: rgba(0, 0, 0, 0.5);
}

.modal_block {
   position: relative;
   padding: 20px;
   width: 100%;
   max-width: 500px;
   max-height: 100%;
   overflow-y: auto;
   border-radius: 5px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   background: var(--txt-white);
}

.modal_btn {
   position: absolute;
   top: 10px;
   right: 10px;
   color: var(--txt-black);
   background: transparent;
}

.modal_btn:hover,
.modal_btn:focus {
   color: var(--error);
}