.form_block{
   display: flex;
   flex-direction: column;
   gap: 14px;
   margin-top: 30px;
}

.form_block input{
   display: flex;
   margin-top: 5px;
   padding: 8px;
   width: 100%;
   outline: none;
   border: 1px solid var(--txt-black);
   border-radius: 8px;
}

.form_block input:hover,
.form_block input:focus{
border: 1px solid var(--orange);
}

input::placeholder {
   color: #a0a0a0;
   font-size: 12px;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

.error{
   margin-left: 10px;
   font-size: 12px;
   color: var(--error);
}

.form_btn{
   padding: 12px;
   border: none;
   border-radius: 8px;
   font-size: 18px;
   color: var(--txt-white);
   background: var(--orange);
}