.chat_details {
   padding: 0 20px;
   flex: 1;
}

.chat_text {
   margin-top: 5px;
}

.chat_descr {
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
   color: var(--txt-chat-title);
}

.chat_content {
   margin-top: 20px;
   font-size: 16px;
   color: var(--txt-white);
}