.table_container {
   margin-top: 20px;
   color: var(--txt-black);
   background: var(--white);
}

.photo {
   margin: 0 auto;
   width: 50px;
}

.barcode_table {
   margin-bottom: 20px;
   border-collapse: collapse;
   width: 100%;
}

.barcode_table td,
.barcode_table th {
   width: auto;
   white-space: normal;
   overflow-wrap: break-word;
   word-wrap: break-word;
   text-overflow: ellipsis;
}

.barcode_table th {
   padding: 5px 10px;
   border: 1px solid var(--table-grey);
}

.barcode_table td:last-child,
.barcode_table th:last-child {
   width: 30px;
}

.barcode_table td {
   text-align: center;
   padding: 5px 10px;
   border: 1px solid var(--table-grey);
   max-width: 200px;
}

.barcode_table td:first-child {
   padding-left: 10px;
   padding-right: 10px;
}

.barcode_table tr input {
   display: flex;
   padding: 4px;
   width: 100%;
   font-size: 14px;
   outline: none;
   border: 1px solid var(--txt-black);
   border-radius: 8px;
}

.barcode_table tr input:hover,
.barcode_table tr input:focus {
   border: 1px solid var(--orange);
}

.delete_btn {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   cursor: pointer;
   color: var(--txt-black);
   background: transparent;
}

.delete_btn:hover{
   color: var(--error);
}