.map_content {
   margin-top: 10px;
}

.leaflet-control-attribution {
   display: none;
}

.popup_btn {
   padding: 5px 8px;
   font-size: 14px;
   border: none;
   border-radius: .5em;
}

.popup_btn:hover,
.popup_btn:focus{
   background: var(--error);
}