.series_title{
   margin-bottom: 10px;
   text-align: center;
}

.series_descr{
   margin-bottom: 10px;
   text-align: center;
}

.select_block{
   display: flex;
   gap: 20px;
}

.custom_seelect {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 8px;
   max-width: 250px;
   border-radius: 20px;
   border: 1px solid rgba(250, 250, 250, 0.2);
   cursor: pointer;
   color: var(--txt-white);
   background-color: var(--orange);
}

.dropdown_menu {
   list-style: none;
   padding: 0;
   margin: 0;
   min-width: 168px;
   background-color: var(--orange);
   color: white;
   border-radius: 20px 20px;
   position: absolute;
}

.dropdown_menu li {
   padding: 10px;
   border-radius: 20px;
   cursor: pointer;
}

.dropdown_menu li:hover {
   background-color: var(--btn-hover);
}

.btn {
   padding: 10px;
   font-size: 14px;
   border-radius: 20px;
   border: 1px solid rgba(250, 250, 250, 0.2);
}

.table_container{
   margin-top: 20px;
   color: var(--txt-black);
   background: var(--white);
}

table {
   border-collapse: collapse;
  width: 100%;
}

th{
   padding: 5px 10px;   
   border: 1px solid var(--table-grey);
}

td{
   text-align: center;
   padding: 5px 10px;
   border: 1px solid var(--table-grey);
}

table td:first-child{
   padding-left: 10px;
   padding-right: 10px;
   text-align: start;
}