.password_input_wrapper {
   position: relative;
   width: 100%;
}

.password_input {
   padding-right: 2.5rem;
   padding-left: 0.5rem;
   width: 100%;
   height: 2.5rem;
   border: var(--orange);
   border-radius: 8px;
}

.password_toggle_btn {
   position: absolute;
   right: 0.5rem;
   top: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0;
   font-size: 1.2rem;
   transform: translateY(-50%);
   background: none;
   border: none;
   cursor: pointer;
   color: var(--orange);
}