.table_container {
   margin-top: 20px;
   color: var(--txt-black);
   background: var(--white);
}

.photo {
   margin: 0 auto;
   width: 50px;
}

.user_table {
   border-collapse: collapse;
   width: 100%;
}

.user_table th {
   padding: 5px 10px;
   border: 1px solid var(--table-grey);
}

.user_table td {
   text-align: center;
   padding: 5px 10px;
   border: 1px solid var(--table-grey);
}

.user_table td:first-child {
   padding-left: 10px;
   padding-right: 10px;
   text-align: start;
}