.rejected_bonus_table {
   margin-top: 20px;
   color: var(--txt-black);
   background: var(--white);
}

.table {
   margin-bottom: 20px;
   border-collapse: collapse;
   width: 100%;
}

.table th {
   padding: 5px 10px;
   border: 1px solid var(--table-grey);
}

.table td {
   text-align: center;
   padding: 5px 10px;
   border: 1px solid var(--table-grey);
}

.detailed_link {
   color: var(--txt-black);
}