.errors_table {
   border-collapse: collapse;
   width: 100%;
   color: var(--txt-black);
   background-color: white;
}

.errors_table .errors_td:first-child {
   width: 80px;
   padding-left: 10px;
   padding-right: 10px;
}

.errors_td, .errors_th {
   text-align: center;
   padding: 5px 10px;
   border: 1px solid var(--table-grey);
}