@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --bg-green: #167144;
  --orange: #d88f07e1;
  --white: #fff;
  --grey: #5049498e;
  --txt-white: #fff;
  --txt-black: #1D1D21;
  --error: #A52A2A;
  --btn-hover: #76B947;
  --table-grey: #6764645b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--txt-white);
  background-color: var(--bg-green);
}

a {
  text-decoration: none;
  color: var(--txt-white);
}

li {
  list-style: none;
}

button {
  padding: 0;
  font-family: "Roboto", sans-serif;
  border: none;
  cursor: pointer;
  color: var(--txt-white);
    background: var(--orange);
}

.container {
  margin: 0 auto;
  padding: 0 20px 0 20px;
  max-width: 1360px;
}